/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* font family  */
body{
   font-family: 'Ubuntu', sans-serif;
}

.slider-text{
   color: #ff136f;
}

/* .btn-package{
   background-color: #ff136f;
   color: white;

} */