/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* font family  */
body{
   font-family: 'Ubuntu', sans-serif;
}



/* Footer  */
footer{
   text-align: center;
   background-color: #0a0826;
   padding: 50px 30px;
   color: white;
   width: 100%;
   position: relative;
}


/* Media Custom  */

@media(max-width: 576px) {
.carousel-caption h2 {
font-size: 15px;
}
.carousel-caption p {
font-size: 10px;
}

.carousel-caption .btn{
   font-size: 10px;
   padding: 0;
   margin: 0;
}
.our-package{
   display: flex;
   justify-content: center;
   align-items: center;
}
}
